# Lists, Tuples, Dictionaries and Sets

- So far, you have been working with **fundamental data types** like `str`, `int`, and `float`.
- Many real-world problems are easier to solve when **simple data types are combined into more complex data structures**.
- **A data structure models a collection of data**, such as a list of numbers, a row in a spreadsheet, or a record in a database. 
- Python has **four built-in data structures** that are the focus of this chapter:
> - `lists`,
> - `tuples`,
> - `dictionaries`,
> - `sets`.

- **In this chapter , you will learn:**
> - How to **work with different built-in data structures** in Python,
> - What **immutability** is and why it is important,
> - When to use **different** data structures.

## 1. Lists are Mutable Sequences

### The `list` Data Type

- In short, a `list` is a **collection of arbitrary objects**, somewhat akin to an **array** in many other programming languages but **more flexible**.
- The **important characteristics** of Python lists are as follows:
> - Lists have a **finite length**,
> - Lists can contain **any arbitrary objects**,
> - Lists are **ordered**,
> - List elements can be accessed by **index**,
> - Lists can be **nested** to arbitrary depth,
> - Lists are **mutable** and dynamic.

### Creating Lists

- Lists can be created in **many ways**:
> - Using a **list literal**,
> - Using the **`list()` built-in constructor** to create a new `list` object from any **other sequence**, a common use case is to **create a new list from a range of numbers**,
> - Using the **`.split()` string method**.

In [ ]:
# List literal:
nums_list_01 = [1, 2, 3, 4]
nums_list_01

In [ ]:
type(nums_list_01)

In [ ]:
# Built-in constructor:
nums_range = range(1, 5)
nums_list_02 = list(nums_range)
nums_list_02

In [ ]:
type(nums_list_02)

In [ ]:
# .split() method:
nums_str = "1, 2, 3, 4"
nums_list_03 = nums_str.split(", ")
nums_list_03

In [ ]:
type(nums_list_03)

In [ ]:
# Note the difference:
nums_str = "1, 2, 3, 4"
nums_list_04 = list(nums_str)
nums_list_04

In [ ]:
type(nums_list_04)

- **Notice that:**
> - Each element is separated by a **comma (`,`)**,
> - The entire list is enclosed in **square brackets (`[]`)**.

### Working with Lists

#### Getting a List Length

- Getting a list length works on lists **the same way it does on strings**:

In [ ]:
langs_list = ["Python", "C", "JavaScript"]
len(langs_list)

#### Indexing and Slicing

- Indexing and slicing operations work on lists **the same way they do on strings**.
> - Like strings, **the indexing of a list starts from 0**,
> - The **syntax for slicing** is `slice = some_list[start:stop:step]`.

In [ ]:
langs_list = ["Python", "C", "JavaScript"]

In [ ]:
langs_list[1]  # The second element.

In [ ]:
langs_list[0]  # The first element.

In [ ]:
letters_list = list("abcde")
letters_list

In [ ]:
letters_list[1:3]

In [ ]:
letters_list[0:5:2]

- The **`.index()` method** returns the **index number for the first instance of the value** you are passing, it will **give an error** if the value is not in the list.

In [ ]:
langs_list = ["Python", "C", "JavaScript", "C"]

In [ ]:
langs_list.index("Python")

In [ ]:
langs_list.index("python")

#### Testing for Membership

- You can **check for the existence** of list elements using the **`in` operator**:

In [ ]:
"Python" in langs_list

In [ ]:
"python" in langs_list

#### Getting the number of times a value Appears in a List

In [ ]:
nums_list = [1, 2, 2, 3, 4]

In [ ]:
nums_list.count(2)

#### Iterating over List Elements

In [ ]:
langs_list

In [ ]:
for lang in langs_list:
    print(lang)

#### Changing Elements in a List

- Think of a list as a **sequence of numbered slots**.
> - **Each slot holds a value**, and every slot must be filled at all times,
> - You can **swap out the value in a given slot with a new one** whenever you want.
- The ability to swap values in a list for other values is called **mutability**, a list objetc is **mutable**.
- To swap a value in a list with another, **assign the new value to a slot using index notation**:

In [ ]:
nums_list = [7, 3, 9]

In [ ]:
nums_list[1] = 8
nums_list

- You can **change several values in a list** at once with a **slice assignment**:

In [ ]:
nums_list = [7, 3, 4]

In [ ]:
nums_list[1:3] = [8, 9]
nums_list

- The list assigned to a slice **does not need to have the same length as the slice**:

In [ ]:
nums_list[3:] = [10, 11, 12]
nums_list

- When the length of the list being assigned to the slice is **less than** the length of the slice, **the overall length of the original list is reduced**:

In [ ]:
nums_list

In [ ]:
len(nums_list)

In [ ]:
nums_list[:] = [7, 8, 9]
nums_list

#### List Methods and Operations for Adding Elements

- The list **`.append()` method** is used to **append an new element to the end of a list**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.append(5)
nums_list

- A common use case for `.append()` to with a for loop is to create a list of new elements in three steps:
> - Instantiate an **empty list**,
> - **Loop over an iterable** or range of elements,
> - **Append new elements** to the end of the list.

In [ ]:
nums_list = list(range(1, 21))
nums_list

In [ ]:
# Instantiate two lists for splitting numbers to odd or even:
odd_nums_list = []
even_nums_list = []

# Iterate over the original list:
for num in nums_list:
    # If number is even append to even_nums_list:
    if num % 2 == 0:
        even_nums_list.append(num)
    # If number is odd append to odd_nums_list:
    else:
        odd_nums_list.append(num)

In [ ]:
odd_nums_list

In [ ]:
even_nums_list

- The list **`.extend()` method** is used to **add several new elements to the end of a list**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.extend([5, 6, 7])
nums_list

- The list **`.insert()` method** is used to **insert a single new value into a list**.
- It takes **two parameters**, an **index** and a **value**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.insert(4, 5)
nums_list

In [ ]:
nums_list.insert(-1, 6)
nums_list  # What happened?

In [ ]:
nums_list.insert(10, 7)
nums_list  # What happened?

- When you the previous list methods, **you do not need to assign the result to the original list**, these methods are said to **alter elements in place**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list = nums_list.append(5)
nums_list

In [ ]:
type(nums_list)

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list = nums_list.extend([5, 6, 7])
nums_list

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list = nums_list.insert(4, 5)
nums_list

- **List addition:**

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list + [5]

In [ ]:
nums_list + 5

- **List multiplication:**

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list * 2

In [ ]:
nums_list * nums_list

#### List Methods for Deleting Elements

- The list **`.pop()` method** takes one parameter, an **index** and **removes the value from the list at that index**, the value that is removed **is returned by the method**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
n = nums_list.pop(3)

In [ ]:
nums_list

In [ ]:
n

- **Negative indices** also work with `.pop()`:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.pop(-1)
nums_list

- If you do not pass a value to `.pop()`, **it removes the last item in the list**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.pop()
nums_list

- Unlike `.insert()`, **Python raises an IndexError if you pass to `.pop()` an argument larger than the last index**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
nums_list.insert(10, 5)
nums_list

In [ ]:
nums_list.pop(10)
nums_list

- The **`.remove()` method** removes the **first occurrence of the element** with the specified value:

In [ ]:
nums_list = [1, 2, 3, 2, 4]

In [ ]:
nums_list.remove(2)
nums_list

- The **`del` keyword** can also be used to **delete an element at a given index from a list**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
del nums_list[-1]
nums_list

- The **`.clear()`** method removes **all the elements** from a list:

In [ ]:
nums_list = [1, 2, 3, 2, 4]

In [ ]:
nums_list.clear()
nums_list

#### Copying Lists

- Creating **two views pointing to the same objects**:

In [ ]:
nums_list_01 = [1, 2, 3, 4]

In [ ]:
nums_list_02 = nums_list_01
nums_list_02

In [ ]:
nums_list_01 is nums_list_02

- The `.copy()` method **returns a shallow copy of a list, nested objects are not copied**:

In [ ]:
nums_list_01 = [1, 2, 3, 4]
nested_list = [5, 6]

In [ ]:
nums_list_01.insert(4, nested_list)
nums_list_01

In [ ]:
len(nums_list_01)

In [ ]:
nums_list_02 = nums_list_01.copy()
nums_list_02

In [ ]:
nums_list_01 is nums_list_02

In [ ]:
nested_list[:] = [0, 0]

In [ ]:
nums_list_01

In [ ]:
nums_list_02

- You can also copy lists by **creating slices of an entire list**, it's not the most readable, but **it works in the same way as `.copy()` does**:

In [ ]:
nums_list_01 = [1, 2, 3, 4]

In [ ]:
nums_list_02 = nums_list_01[:]

In [ ]:
nums_list_01 is nums_list_02

- The `.deepcopy()` method will **make a copy of a list AND any nested objects contained inside that list**:

In [ ]:
nums_list_01 = [1, 2, 3, 4]
nested_list = [5, 6]

In [ ]:
nums_list_01.insert(4, nested_list)
nums_list_01

In [ ]:
from copy import deepcopy

In [ ]:
nums_list_02 = deepcopy(nums_list_01)
nums_list_02

In [ ]:
nums_list_01 is nums_list_02

In [ ]:
nested_list[:] = [0, 0]

In [ ]:
nums_list_01

In [ ]:
nums_list_02

#### List Unpacking

- You can **unpack values** from a list into specific variable:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
a, b, c, d = nums_list

In [ ]:
print(a, b, c, d)

- Use an asterisk (`*`) to **gather any remaining unassigned values into a variable**:

In [ ]:
nums_list = [1, 2, 3, 4]

In [ ]:
a, b, *rest = nums_list

In [ ]:
print(a, b)

In [ ]:
print(rest)

#### Changing the Order of Elements in a List

- Return a **sorted copy** with `sorted()` function:

In [ ]:
nums_list = [3, 4, 1, 2]

In [ ]:
sorted(nums_list)

In [ ]:
nums_list

- Sort the list **in place** with `.sort()` method:

In [ ]:
nums_list = [3, 4, 1, 2]

In [ ]:
nums_list.sort()

In [ ]:
nums_list

- Return a **reversed copy** with **negative slicing**:

In [ ]:
nums_list = [3, 4, 1, 2]

In [ ]:
nums_list[::-1]

- Reverse the order of a list **in place** with `.reverse()` method:

In [ ]:
nums_list = [3, 4, 1, 2]

In [ ]:
nums_list.reverse()

In [ ]:
nums_list

#### Summarizing a List of Numbers or Booleans

- The `sum()` function **returns a number, the sum of all items in an iterable**:

In [ ]:
nums_list = [1, 2, 3, 4]
nums_list

In [ ]:
sum(nums_list)

- The `max()` and `min()` functions **returns the item with the highest and lowest value in an iterable respectively**:

In [ ]:
nums_list = [1, 2, 3, 4]
nums_list

In [ ]:
max(nums_list)

In [ ]:
min(nums_list)

- The `all()` function **returns `True` if all items in an iterable are true, otherwise it returns `False`**:

In [ ]:
bool_list = [True, True, True]
all(bool_list)

In [ ]:
bool_list = [True, False, True]
all(bool_list)

In [ ]:
bool_list = []
all(bool_list)

- The `any()` function **returns `True` if any item in an iterable are true, otherwise it returns `False`**:

In [ ]:
bool_list = [False, False, False]
any(bool_list)

In [ ]:
bool_list = [True, False, True]
any(bool_list)

In [ ]:
bool_list = []
any(bool_list)

### List Comprehension

- List comprehension is an **alternate way of making lists**, with this elegant approach, **you could rewrite the for loop from the above-mentioned example (odd and even numbers) in just a single line of code**.
- Rather than creating an empty list and adding each element to the end, **you simply define the list and its contents at the same time by following this format**:
> ```new_list = [<expression> for <member> in <iterable> if <condition>]```

In [ ]:
nums_list = list(range(1, 21))
nums_list

In [ ]:
odd_nums_list = [num for num in nums_list if num % 2 != 0]
odd_nums_list

In [ ]:
even_nums_list = [num for num in nums_list if num % 2 == 0]
even_nums_list

- Every list comprehension in Python includes **three elements**:
> - `<expression>` is the member itself, a call to a method, or any other valid expression that returns a value,
> - `<member>` is the object or value in the list or iterable,
> - `<iterable>` is a list, set, sequence, generator, or any other object that can return its elements one at a time,
> - `<condition>` you can supercharge your list comprehension by using conditional logic (optional).

## 2. Tuples are Immutable Sequences

### The `tuple` Data Type

- Python provides **another type that is an ordered collection of objects**, called a `tuple`.
- **Pronunciation varies** depending on whom you ask, some pronounce it as though it were spelled **“too-ple”**, and others as though it were spelled **“tup-ple”**.
- Tuples are **identical to lists** in all respects, **except for the following properties**:
> - Tuples are defined by enclosing the elements in **parentheses (`()`)** instead of square brackets (`[]`),
> - Tuples are **immutable**.

- There are a few ways to **create a tuple in Python**:
> - Tuple literals,
> - The `tuple()` built-in.

In [ ]:
# Tuple literal:
nums_tuple_01 = (1, 2, 3, 4)
nums_tuple_01

In [ ]:
type(nums_tuple_01)

In [ ]:
# Built-in constructor:
nums_tuple_02 = tuple([1, 2, 3, 4])
nums_tuple_02

In [ ]:
type(nums_tuple_02)

In [ ]:
# What is this?
nums_tuple_03 = (1)
type(nums_tuple_03)

In [ ]:
# What is this?
nums_tuple_04 = 1,
type(nums_tuple_04)

- **Why use a tuple instead of a list?**
> - **Program execution is faster** when manipulating a tuple than it is for the equivalent list, this is probably not going to be noticeable when the list or tuple is small.
> - **Sometimes you don’t want data to be modified**, if the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.
> - There is another Python data type that you will encounter shortly called a **dictionary**, which **requires as one of its components a value that is of an immutable type**, a tuple can be used for this purpose, whereas a list can’t be.

## 3. Store Relationships in Dictionaries

### The `dict` Data Type

- In plain **English**, a dictionary is a **book containing the definitions of words**, Each entry in a dictionary has **two parts**:
> - The **word** being defined,
> - Its **definition**.

- Python dictionaries, like lists and tuples, **store a collection of objects**.
- But **unlike lists and tuples**, instead of storing objects in a sequence, **dictionaries hold information in pairs of data called key-value pairs**, each object in a dictionary has **two parts**:
> - **Key**: a **unique name** that identifies the value part of the pair,
> - **Value**: the **object** itself.

- The **important characteristics** of Python lists are as follows:
> - Dictionaries have a **finite length**,
> - Dictionaries can contain **any arbitrary objects as values**,
> - Dictionaries are **unordered**,
> - Dictionaries elements **can't** be accessed by **index**,
> - Dictionaries can be **nested** to arbitrary depth,
> - Dictionaries are **mutable** and dynamic.

### Creating Dictionaries

- Dictionaries can be created in **many ways**:
> - Using a **dictionary literal**,
> - Using the **`dict()` built-in constructor** to create a new `dict` object from any collection of **key-value pairs**.

In [1]:
# Dictionary literal:
names_to_scores = {'John Smith': 2,
                   'Alexandra Thompson': 1,
                   'Christopher Lynch': 7,
                   'Brandon Brown': 2,
                   'Nancy Watts': 3}

names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [2]:
type(names_to_scores)

dict

In [3]:
# Built-in constructor:
names_to_scores = dict()  # An empty dictionary.
names_to_scores

{}

In [4]:
type(names_to_scores)

dict

In [5]:
# Built-in constructor:
names_to_scores = dict([('John Smith', 2),
                        ('Alexandra Thompson', 1),
                        ('Christopher Lynch', 7),
                        ('Brandon Brown', 2),
                        ('Nancy Watts', 3)])

names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [6]:
type(names_to_scores)

dict

- **Notice that:**
> - Each key is separated from its value by a **colon (`:`)**,
> - Each key-value pair is separated by a **comma (`,`)**,
> - The entire dictionary is enclosed in **curly braces (`{}`)**.

### Working with Dictionaries:

#### Getting a Dictionary Lenght

- Getting a list length works on lists **the same way it does on other collection types**:

In [7]:
len(names_to_scores)

5

#### Accessing Dictionary Values

- To **access a value** in a dictionary, enclose the corresponding key in **square brackets (`[key]`)** at the end of dictionary:

In [8]:
names_to_scores["John Smith"]

2

- The bracket notation used to access a dictionary value **looks similar to the index notation used to get values from ordered sequences** like strings, lists, and tuples.
- However, **dictionaries are a fundamentally different data structure** than sequence types like lists and tuples.
- This idea of **ordering is really the main difference** between how items in a **sequence type** are accessed compared to a **dictionary**:
> - Values in a sequence type are accessed by **index**, which is an **integer value expressing the order of items in the sequence**,
> - On the other hand, items in a dictionary are accessed by a **key**, which **doesn’t define any kind of order**, but just provides a label that can be used to reference the value.
> - **Prior to Python 3.6**, the **order of key-value pairs** in a Python dictionary was **random**, in **later versions**, the **order of the keyvalue pairs** is guaranteed to **match the order in which they were inserted**.

In [9]:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [10]:
names = ['John Smith', 'Alexandra Thompson', 'Christopher Lynch', 'Brandon Brown', 'Nancy Watts']
scores = [2, 1, 7, 2, 3]

In [11]:
idx = names.index("John Smith")
idx

0

In [12]:
scores[idx]

2

In [13]:
names_to_scores[idx]

KeyError: 0

In [14]:
names_to_scores[idx:]

TypeError: unhashable type: 'slice'

- The **`.get()` method returns the value for key in the dictionary**; if not found returns a **default value**:

In [16]:
names_to_scores["Guido Van Rossum"]

KeyError: 'Guido Van Rossum'

In [15]:
names_to_scores.get("John Smith")

2

In [17]:
names_to_scores.get("Guido Van Rossum", "Wrong key!")

'Wrong key!'

In [18]:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

- The **`.setdefault()` method** returns the **value** of the item with the specified key, **if the key does not exist, inserts the key, with the specified value**:

In [19]:
names_to_scores.setdefault("Guido Van Rossum", "Wrong key!")

'Wrong key!'

In [20]:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 'Guido Van Rossum': 'Wrong key!'}

#### Adding and Removing Values in a Dictionary

- Like lists, **dictionaries are mutable data structures**, this means you can **add** and **remove** items from a dictionary.

- To **add** items to a dictionary:
> - Use the **square bracket notation** with the **new key** as if you were looking up the value,
> - Then use the **assignment operator** to assign the **value** to the **new key**.

In [21]:
names_to_scores["Jason Kelley"] = 0
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 'Guido Van Rossum': 'Wrong key!',
 'Jason Kelley': 0}

- Each key in a dictionary **can only be assigned a single value**, if a key is given a new value, Python just **overwrites** the old one:

In [22]:
names_to_scores["Jason Kelley"] = 10
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 'Guido Van Rossum': 'Wrong key!',
 'Jason Kelley': 10}

- The **`.update()` method** adds **`key: value` pairs** to the dictionary.

In [23]:
names_to_scores.update({"Daniel Hill": 5})
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 'Guido Van Rossum': 'Wrong key!',
 'Jason Kelley': 10,
 'Daniel Hill': 5}

- To **remove** an item from a dictionary, use the **`del` keyword** with the **key** for the value you want to delete:

In [24]:
del names_to_scores["Guido Van Rossum"]
del names_to_scores["Jason Kelley"]
del names_to_scores["Daniel Hill"]
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

- There are also some other methods to **delete key-value pairs** from a dictionary:
> - The **`.pop()` method** removes the specified **item** from the dictionary, the **value** of the removed item is the **return value** of the method,
> - The **`.popitem()`** method removes the **item** that was last inserted into the dictionary, the removed **item** is the return value of the method as a tuple,
> - The **`.clear()` method** removes **all the key-value pairs** from a dictionary.

In [25]:
score = names_to_scores.pop("John Smith")
names_to_scores

{'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [26]:
score

2

In [27]:
name_and_score = names_to_scores.popitem()
names_to_scores

{'Alexandra Thompson': 1, 'Christopher Lynch': 7, 'Brandon Brown': 2}

In [28]:
name_and_score

('Nancy Watts', 3)

In [29]:
names_to_scores.clear()
names_to_scores

{}

In [30]:
# Re-initialize the dictionary:
names_to_scores = dict([('John Smith', 2),
                        ('Alexandra Thompson', 1),
                        ('Christopher Lynch', 7),
                        ('Brandon Brown', 2),
                        ('Nancy Watts', 3)])

names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

#### Checking the Existence of Dictionary Keys

- If you try to access a value in a dictionary using a **key that doesn’t exist**, Python raises a **`KeyError`**, which is the **most common error encountered when working with dictionaries**:

In [31]:
names_to_scores["Jason Kelley"]

KeyError: 'Jason Kelley'

- You can check that a **key** exists in a dictionary using the **`in` keyword**:

In [32]:
"John Smith" in names_to_scores

True

In [33]:
"Jason Kelley" in names_to_scores

False

- With `in`, you can first check that a **key** exists **before doing something with the value for that key**:

In [35]:
key = "John Smith"
if key in names_to_scores:
    print(names_to_scores[key])

2

In [36]:
key = "Jason Kelley"
if key in names_to_scores:
    print(names_to_scores[key])

- It is important to remember that **`in` only checks the existence of keys**:

In [37]:
names_to_scores["John Smith"]

2

In [38]:
2 in names_to_scores

False

#### Iterating Over Dictionaries

- Like lists and tuples, **dictionaries are iterable**.
- However, looping over a dictionary is **a bit different** than looping over a list or tuple:

In [39]:
for something in names_to_scores:
    print(something)

John Smith
Alexandra Thompson
Christopher Lynch
Brandon Brown
Nancy Watts

- If you want to **loop over** the `names_to_dict` dictionary and **print** `“The score of X is Y”`, where `X` is the name and `Y` is the score, you can **do the following**:

In [40]:
for name in names_to_scores:
    print(f"The score of {name} is {names_to_scores[name]}")

The score of John Smith is 2
The score of Alexandra Thompson is 1
The score of Christopher Lynch is 7
The score of Brandon Brown is 2
The score of Nancy Watts is 3

- However, **there is a slightly better way to do this** using the **`.items()` dictionary method** which **returns a list-like object containing tuples of key-value pairs**

In [41]:
names_to_scores.items()

dict_items([('John Smith', 2), ('Alexandra Thompson', 1), ('Christopher Lynch', 7), ('Brandon Brown', 2), ('Nancy Watts', 3)])

- When you loop over `names_to_score.items()`, each iteration of the loop produces a **tuple containing the name and the corresponding score**, by assigning this tuple to `name`, `score`, **the components of the tuple are unpacked into the two variables**:

In [43]:
for (name, score) in names_to_scores.items():
    print(f"The score of {name} is {score}")

The score of John Smith is 2
The score of Alexandra Thompson is 1
The score of Christopher Lynch is 7
The score of Brandon Brown is 2
The score of Nancy Watts is 3

- There are two other methods similar to `.items()` in behavior:
> - The **`.keys()` method** returns a **view object** which contains the **keys** of the dictionary, as a list,
> - The **`.values()`** method returns a **view object** which contains the **values** of the dictionary, as a list.

In [44]:
names_to_scores["Destiny Beasley"] = 8
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 'Destiny Beasley': 8}

In [45]:
names_as_keys = names_to_scores.keys()
names_as_keys

dict_keys(['John Smith', 'Alexandra Thompson', 'Christopher Lynch', 'Brandon Brown', 'Nancy Watts', 'Destiny Beasley'])

In [46]:
scores_as_keys = names_to_scores.values()
scores_as_keys

dict_values([2, 1, 7, 2, 3, 8])

In [47]:
del names_to_scores["Destiny Beasley"]

In [48]:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [52]:
names_as_keys

dict_keys(['John Smith', 'Alexandra Thompson', 'Christopher Lynch', 'Brandon Brown', 'Nancy Watts'])

#### Copying dictionaries

- The **`.copy()` method** returns a **copy** of the specified dictionary:

In [53]:
new_dict = names_to_scores.copy()

In [54]:
names_to_scores == new_dict

True

In [55]:
names_to_scores is new_dict

False

### Dictionary Comprehension

- Like lists, **Python allows dictionary comprehensions** using simple syntax.
- The **minimal syntax** for dictionary comprehension is:
> `{<key>: <value> for (<key>, <value>) in <iterable>}`

- Here are some **use cases for dictionary comprehension**:

In [56]:
# OLd dictionary:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [57]:
# Update the values of an old dictionary:
new_scores_dict = {n: (s + 2) for n, s in names_to_scores.items()}
new_scores_dict

{'John Smith': 4,
 'Alexandra Thompson': 3,
 'Christopher Lynch': 9,
 'Brandon Brown': 4,
 'Nancy Watts': 5}

In [58]:
# Filter the values of another dictionary:
passed_assignment_dict = {n: s for n, s in new_scores_dict.items() if s > 4}
passed_assignment_dict

{'Christopher Lynch': 9, 'Nancy Watts': 5}

In [59]:
# Another way:
results_dict = {n: (s if s > 4 else "Failed!") for n, s in new_scores_dict.items()}
results_dict

{'John Smith': 'Failed!',
 'Alexandra Thompson': 'Failed!',
 'Christopher Lynch': 9,
 'Brandon Brown': 'Failed!',
 'Nancy Watts': 5}

### Dictionary Keys and Immutability

- In the **`names_to_scores` dictionary** you’ve been working with throughout this section, **each key is a string**.
- However, **there is no rule that says dictionary keys must all be of the same type**:

In [60]:
zero = 0
names_to_scores[zero] = 0
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 0: 0}

In [61]:
del names_to_scores[zero]

- There is only **one restriction** on what constitutes a valid dictionary key, **only immutable types are allowed**:

In [62]:
zero = [0]
names_to_scores[zero] = 0
names_to_scores

TypeError: unhashable type: 'list'

In [63]:
zero = (0,)
names_to_scores[zero] = 0
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3,
 (0,): 0}

In [64]:
del names_to_scores[zero]

In [65]:
zero = ([0],)
names_to_scores[zero] = 0
names_to_scores

TypeError: unhashable type: 'list'

### Review Exercises

- Given a list of random numbers **with duplicates**, can you count the **how many times** each number appears in this list?

In [69]:
import random
nums_list = [random.randint(1, 10) for _ in range(100)]
print(nums_list)

[5, 2, 8, 1, 7, 10, 8, 3, 5, 4, 6, 7, 6, 9, 4, 4, 4, 6, 4, 6, 10, 4, 9, 3, 10, 7, 9, 2, 4, 4, 1, 6, 9, 1, 3, 1, 5, 3, 6, 4, 3, 6, 6, 5, 2, 3, 10, 3, 8, 6, 10, 9, 10, 7, 8, 9, 5, 7, 9, 1, 3, 3, 9, 10, 9, 10, 10, 2, 2, 5, 8, 6, 10, 9, 8, 7, 10, 10, 10, 6, 5, 10, 8, 7, 8, 4, 6, 10, 2, 9, 10, 10, 6, 8, 10, 8, 8, 3, 10, 7]

In [78]:
# TODO
nums_freq_01 = {}
for num in nums_list:
    if num in nums_freq_01.keys():
        nums_freq_01[num] = nums_freq_01[num] + 1
    else:
        nums_freq_01[num] = 1

In [79]:
nums_freq_01

{5: 7, 2: 6, 8: 11, 1: 5, 7: 8, 10: 19, 3: 10, 4: 10, 6: 13, 9: 11}

In [80]:
# TODO
nums_freq_02 = {}
for num in nums_list:
    nums_freq_02[num] = nums_freq_02.get(num, 0) + 1

In [81]:
nums_freq_02

{5: 7, 2: 6, 8: 11, 1: 5, 7: 8, 10: 19, 3: 10, 4: 10, 6: 13, 9: 11}

In [82]:
nums_freq_01 == nums_freq_02

True

- Can you guess the **output of this code**?

In [84]:
ambiguous_dict = {True: 'yes', 1: 'no', 1.0: 'maybe'}
ambiguous_dict[True]

'maybe'

In [85]:
ambiguous_dict

{True: 'maybe'}

- By now you already know that **a dictionary has no concept of order**, but is it really impossible to **sort a dictionary**?

In [87]:
names_to_scores

{'John Smith': 2,
 'Alexandra Thompson': 1,
 'Christopher Lynch': 7,
 'Brandon Brown': 2,
 'Nancy Watts': 3}

In [95]:
# TODO
list_of_tuples = names_to_scores.items()
list_of_tuples = list(list_of_tuples)
list_of_tuples

[('John Smith', 2),
 ('Alexandra Thompson', 1),
 ('Christopher Lynch', 7),
 ('Brandon Brown', 2),
 ('Nancy Watts', 3)]

In [97]:
sorted_dict = dict(sorted(list_of_tuples, key=lambda x: x[0]))
sorted_dict

{'Alexandra Thompson': 1,
 'Brandon Brown': 2,
 'Christopher Lynch': 7,
 'John Smith': 2,
 'Nancy Watts': 3}