### Add parentheses where necessary so that each of the following expressions evaluates to True:

In [1]:
# TODO
False == (not True)

True

In [2]:
# TODO
(True and False) == (True and False)

True

In [3]:
# TODO
not (True and "A" == "B")

True

In [4]:
# TODO
False == False in [False]

True

In [5]:
# TODO
(1 == 2) == 0

True

### Construct a list of numbers from `1` to `1000`, then use `len()` function to assert the list length.

In [6]:
# TODO
nums_list = list(range(1, 1001))

In [7]:
# TODO
len(nums_list)

1000

### Subset the first 50 numbers from `nums_list` into another list and assign it to `sliced`.

In [8]:
# TODO
sliced = nums_list[:50]
print(sliced)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### Filter odd and even numbers in `sliced` to `odd_nums_list` and `even_nums_list` respectively.

In [9]:
# TODO
odd_nums_list = [num for num in sliced if num % 2 ==0]
print(odd_nums_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [10]:
# TODO
even_nums_list = [num for num in sliced if num % 2 ==0]
print(even_nums_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

### Write a Python program to count Even and Odd numbers in a List:
> - Input: `[2, 7, 5, 64, 14]`
> - Output: `even` = 3, `odd` = 2

In [11]:
nums_list = [2, 7, 5, 64, 14]

In [12]:
# TODO
odd = even = 0
for num in nums_list:
    if num % 2 == 0:
        even += 1
    else:
        odd += 1
        
print(f"even = {even}, odd = {odd}")

even = 3, odd = 2

### Use list indexing to determine how many days are in a particular month based on the integer variable `month`, and store that value in the integer variable `num_of_days_per_month`. For example, if `month` is `8`, `num_of_days_per_month` should be set to `31`, since the eighth month, August, has 31 days.

In [13]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [14]:
# TODO
num_of_days_per_month = days_in_month[month - 1]
print(num_of_days_per_month)

31

### Return a copy of `dates_list` with the dates sorted in ascending order (without altering the original list).

In [15]:
dates_list = ['1972-07-30',  '2014-03-13', '2018-08-06', '1973-04-16', '1996-07-10',
              '2019-02-20', '2012-02-26', '1991-04-07', '2013-05-22', '2019-12-28',
              '2010-03-05', '2016-05-16', '1976-01-02', '2005-01-09', '1977-11-09',
              '1981-08-12', '1971-08-08', '1988-11-27', '2014-10-16', '2009-12-12']

In [16]:
#TODO
dates_list_sorted_copy = sorted(dates_list)
print(dates_list_sorted_copy)

['1971-08-08', '1972-07-30', '1973-04-16', '1976-01-02', '1977-11-09', '1981-08-12', '1988-11-27', '1991-04-07', '1996-07-10', '2005-01-09', '2009-12-12', '2010-03-05', '2012-02-26', '2013-05-22', '2014-03-13', '2014-10-16', '2016-05-16', '2018-08-06', '2019-02-20', '2019-12-28']

### Select the three most recent dates from `dates_list_sorted_copy` using list slicing notation.

In [17]:
# TODO
dates_list_sorted_copy[-3:]

['2018-08-06', '2019-02-20', '2019-12-28']

### There is something wrong with this code, fix it to return the list `nums_list` sorted in ascending order.

In [18]:
# TODO
nums_list = [6, 4, 7, 3, 5, 8, 9]
nums_list.sort()  # This returns None.
nums_list

[3, 4, 5, 6, 7, 8, 9]

### Return a string `names_str` containing names in `names_list` sorted in ascending order and separated by a comma (`,`).

In [19]:
names_list = ['John Hall', 'Nicole Morrison', 'Matthew Romero', 'Diana Smith']

In [20]:
# TODO
names_str = ", ".join(names_list)
names_str

'John Hall, Nicole Morrison, Matthew Romero, Diana Smith'

### Combine these two lists together `[1, 2, 3, 4]` & `[5, 6, 7, 8]` to create a new `nums_list` using three different methods.

In [21]:
nums_list_01 = [1, 2, 3, 4]
nums_list_02 = [5, 6, 7, 8]

In [22]:
# TODO
nums_list = nums_list_01 + nums_list_02
nums_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# TODO
nums_list = [*nums_list_01, *nums_list_02]
nums_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
# TODO
nums_list = []
for nums_list_0x in [nums_list_01, nums_list_02]:
    nums_list.extend(nums_list_0x)
    
nums_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
# TODO
nums_list = []
for nums_list_0x in [nums_list_01, nums_list_02]:
    len_nums_list = len(nums_list)
    nums_list[len_nums_list:] = nums_list_0x
    
nums_list

[1, 2, 3, 4, 5, 6, 7, 8]

### Create a new list `unique_nums_list` that contains non-duplicate elements from `nums_list`.

In [26]:
nums_list = [1, 4, 5, 2, 4, 5, 4, 6, 7, 6, 8]

In [27]:
# TODO
unique_nums_list = [num for num in set(nums_list)]
unique_nums_list

[1, 2, 4, 5, 6, 7, 8]

In [28]:
%%timeit
# TODO
unique_nums_list = []
for num in nums_list:
    if num not in unique_nums_list:
        unique_nums_list.append(num)
        
unique_nums_list

4.99 µs ± 1.06 µs per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [29]:
%%timeit
# TODO
unique_nums_list = nums_list.copy()
for num in nums_list:
    if unique_nums_list.count(num) > 1:
        unique_nums_list.remove(num)
        
unique_nums_list

13.5 µs ± 2.9 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### Modify the following code so that `nums_list_01` and `nums_list_02` are two different objects.

In [30]:
# TODO
nums_list_01 = [1, 2, 3, 4]
nums_list_02 = nums_list_01.copy()

In [31]:
# The result should be True
nums_list_01 == nums_list_02

True

In [32]:
# The result should be False
nums_list_01 is nums_list_02

False

### Given a list `nums_list` , write a program to swap first and last elements in a list:
> - Input : `[12, 35, 9, 56, 24]`
> - Output : `[24, 35, 9, 56, 12]`

In [33]:
nums_list = [12, 35, 9, 56, 24]

In [34]:
# TODO
nums_list[0], nums_list[-1] = nums_list[-1], nums_list[0]
nums_list

[24, 35, 9, 56, 12]

### Write a Python program to find second largest number in a list:
> - Input: list1 =` [10, 20, 4]`
> - Output: `10`

In [35]:
nums_list = [10, 20, 4]

In [36]:
# TODO
nums_list.sort()
nums_list[-2]

10

### Write a Python program to print all negative numbers in a range (from `a` to `b`):
> - Input: `a = -4`, `b = 5`
> - Output: `-4, -3, -2, -1`

In [37]:
a, b = -4, 5

In [38]:
# TODO
for num in range(a, b+1):
    if num < 0:
        print(num)

-4
-3
-2
-1